<!-- begin of test case -->
<div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" href="E2EReport#{{ tcid }}">
          <i class="glyphicon glyphicon-chevron-right"></i>
          <i class="glyphicon glyphicon-chevron-down"></i>
          <b>Scenario:</b> {{ tcname }}
          <span class="label-container">
            {{ span_status }}
          </span>
        </a>
      </h4>
    </div>
    <div id="{{ tcid }}" class="panel-collapse collapse">
      <div class="panel-body">
        
          
          Repetition: {{ repetition }} &nbsp;&nbsp;&nbsp;
          Duration: {{ duration }}s &nbsp;&nbsp;&nbsp; <br>
          <span class="label label-success">Passed: {{ number_of_passed }}</span>
          <span class="label label-danger">Failed: {{ number_of_failed }}</span>

          <br><br>

